<p-toast />
<div class="flex justify-content-center align-items-center min-h-screen">
    <p-card header="Login" [style]="{ width: '400px' }">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="field">
          <label for="email">Email</label>
          <input
            type="text"
            pInputText
            formControlName="email"
            class="w-full"
            id="email"
            name="email"
            required
            pattern="[a-z0-9\._%\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,}$"
            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('email')}"
          />
          @if(isFieldInvalid('email')) {
          <small class="block p-error">
            {{ getErrorMessage('email') }}
          </small>
          }
        </div>
        <div class="field">
          <label for="password">Password</label>
          <p-password
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            inputId="password"
            name="password"
            inputStyleClass="w-full"
            styleClass="w-full"
            required
            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('password')}"
          />
          @if(isFieldInvalid('password')) {
          <small class="block p-error">
            {{ getErrorMessage('password') }}
          </small>
          }
        </div>
        <p-button
          label="SIGN IN"
          styleClass="w-full"
          [disabled]="loginForm.invalid"
          type="submit"
        ></p-button>
      </form>
    </p-card>
  </div>
  